[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xgboost = "*"
scikit-learn = "*"
pandas = "*"
catboost = "*"
hyperopt = "*"
tensorflow = "*"
numpy = "*"
gunicorn = "*"
flask = "*"
notebook = "*"
jupyter = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.12"
